
# Created by https://www.gitignore.io/api/osx,node,intellij,visualstudiocode
# Edit at https://www.gitignore.io/?templates=osx,node,intellij,visualstudiocode

### Intellij ###
.idea/
*.iml

### Node ###
# Dependency directories
node_modules/

### OSX ###
# General
.DS_Store
.AppleDouble
.LSOverride

dist/
